<form method= "POST" class="w-full" enctype="multipart/form-data"> <!--enctype="multipart/form-data" 를추가해야 사진 변경후 저장됨-->
    {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <span class = "text-red-700 font-medium text-sm">{{error}}</span>
            {% endfor %}
        {% endif %}

        
        {% for field in form  %}
            <div class="input {% if field.errors %}has_error{% endif %}">
                {% include 'mixins/auth/form_input.html' with field=field %}
        {% endfor %}
            
    <button class="btn bg-red-500 text-white">{{cta}}</button>
</form>